.wrapper {
  margin: 0 auto;
  text-align: center;
  width: 320px;
  height: 100%;
}

.control_panel {
  width: 100%;
}

input {
  box-sizing: border-box;
  font-size: 2em;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 2px;
  text-transform: uppercase;
  border: 1px solid black;
}

.control_panel {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 5px 42px;
}

@media (min-width: 1024px) and (max-width: 1240px) {
  .wrapper {
    width: 320px;
  }

  input {
    font-size: 2em;
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
  }

  input {
    font-size: 8vh;
    width: 19%;
    height: 10vh;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .wrapper {
    width: 90%;
  }

  input {
    font-size: 8vh;
    width: 19%;
    height: 10vh;
  }
}

@media (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .wrapper {
    width: 90%;
  }

  input {
    font-size: 8vh;
    width: 19%;
    height: 10vh;
  }
}